body{
	background-color: #dc143c;

}
#main{
	height:  450px;
	background-color: white;
	margin-top: 80px;
	border-radius: 20px;
	
}
#info{
margin-left: 20px;
padding-top: 2px;

}

input[type=text]{
width: 260px;
box-sizing: border-box;
border :2px solid #dc143c;
border-radius: 4px;
}